<%- include('partials/header') %>
<div class="container banner">
  <div class="vt-container header-text">
    <h1 class="header-name">More Than Just a Journal</h1>
    <p class="lead">
      Meet Journly: where your journey meets your journal. Journly is an
      intelligent journal that helps you reflect on your daily thoughts and gain
      insights into your mental health.
    </p>
    <div>
      <a class="btn btn-light btn-lg" href="/register" role="button"
        >Register</a
      >
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>
  <div class="header-image"><img src="media/calendar-colour-1200px.png" /></div>
</div>

<%- include('partials/footer') %>
